@charset "utf-8";
/* CSS Document */
body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    header {
      background-color: #333;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo img {
      max-width: 100%;
      height: auto;
    }

    nav {
      display: flex;
      flex-wrap: wrap;
    }

    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    nav ul li {
      margin-right: 20px;
    }

    nav a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }

    .dropdown {
      position: relative;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #333;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: flex;
      flex-direction: column;
      position: absolute;
      background-color: #333;
    }

    .dropdown-content a {
      padding: 10px;
    }

    iframe {
      width: 100%;
      height: 83vh;
      border: none;
    }

    .footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    @media screen and (max-width: 600px) {
      .dropdown:hover ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #333;
		  
      }
		.tel{display: none;}
		.komp{display: none;}
    }

    @media screen and (min-width: 601px) and (max-width: 1200px) {
      .dropdown:hover ul {
        display: flex;
		  
      }
		.komp{display: none}
		
    }
	  @media screen and (min-width: 1200px){
		  
		  .lista{display: none;}
		  
	  }
	  

